{% extends "base.html" %}

{% block title %}Products{% endblock title %}

{% block content %}
<table class="table table-stripped table-hover">

    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Image</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td>{{product.name}}</td>
            <td>{{product.description}}</td>
            <td>{{product.price}}</td>
            <td><img src="{{product.image.url}}" alt="{{product.name}}" height="100px" width='100px'></td>
            <td>
                <a href="#"><button class="btn btn-warning">Edit</button></a>
                <a href="#"><button class="btn btn-danger">Delete</button></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>

</table>

{% endblock content %}